[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
MemoryCaptures/

*.apk
*.aab
*.unitypackage

.vscode/
.idea/
*.csproj
*.sln
*.user
*.pidb
*.booproj
*.svd

.DS_Store
Thumbs.db

*.stacktrace
.vs/